@keyframes pulsate-fwd {
  0% {
    background-color: rgba(64, 65, 65, 1);

  }
  50% {
    background-color: #a7a7a7;
  }
  100% {
    background-color: rgba(64, 65, 65, 1);

  }
}


.sidebar__item-skeleton {
  width: 250px;
  height: 150px;
  border-radius: 2px;
  animation: pulsate-fwd 3s linear infinite both;
}



